@media (min-width: 550px) {
.container {
    display: flex;
	padding : 5em;
	width: 50%;
    margin: 0 auto;
    align-items: center;
    background-color: pink;
}
}
button {
    padding: 1.5em;
    margin : 3.5em;
    background-color: blue;
    color :#FFF;
    border-color: #1EAEDB
}

.radioContainer {
	font-size: 4em; 
    background-color: grey;
}

